body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

/* header section styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 150px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 32px;
}
/* end header section styles */

/* hero section styles */
.hero {
    padding: 150px 150px;
    display: flex;
    justify-content: space-between;
}

.hero-left {
    flex-direction: column;
    flex: 0 1 480px;
}

.main {
    font-weight: 800; /* extra-bold */
    font-size: 48px;
    color: #F9FAf8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    height: 248px;
    background-color: #6D747D;
    color: white;
    display: flex;
    flex: 0 0 580px;
    justify-content: center;
    align-items: center;
}

.button {
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 32px;
}

.hero-left .button {
    margin-top: 8px;
}
/* end hero section styles */

/* info section styles */
.info-title {
    font-size: 36px;
    font-weight: 800; /* extra bold */
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 120px;
}

.info-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 160px;
}

.info-img {
    border-radius: 10px;
    border: 3px solid #3882F6;
    width: 160px;
    height: 160px;
}
/* end info section styles */

/* quote section styles */
.quote {
    background-color: #E5E7Eb;
    color: #1F2937;
    padding: 140px 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote-src {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}
/* end quote section styles */

/* call to action section styles */
.button,
.cta {
    background-color: #3882F6;
    color: white;
}

.cta {
    margin: 150px 75px;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.cta .button {
    border: 2px solid white;
    align-self: center;
}

.cta-title {
    font-weight: bold;
    font-size: 20px;
}

.cta-text {
    font-weight: 100;
}
/* end call to action section styles */

/* footer section */
.footer {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
/* end footer section */