body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.header,
.hero,
.footer {
    background-color: #c0e9ff;
}

/* header section styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 150px;
}

.logo {
    width: 128px;
    height: auto;

}

.navicon {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
}

.links {
    display: flex;
    gap: 64px;
}

#store:hover,
#contact:hover,
#cart:hover {
    border: 2px dashed #d5dadd;
}

#store:active,
#contact:active,
#cart:active {
    border: 2px solid #d5dadd;
}

/* end header section styles */

/* hero section styles */
.hero {
    padding: 80px 150px 100px;
    display: flex;
    justify-content: space-between;
}

.hero-left {
    flex-direction: column;
    flex: 0 1 480px;
}

.main {
    font-weight: 800; /* extra-bold */
    font-size: 48px;
    color: black;
}

.secondary {
    font-size: 18px;
    color: black;
    padding-bottom: 8px;
}

.image {
    height: 248px;
    background-color: #6D747D;
    color: white;
    display: flex;
    flex: 0 0 580px;
    justify-content: center;
    align-items: center;
}

.button {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 32px;
    background-color: #e7f7ff;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #8cd4fc;
}

.button:active {
    background-color: #4ebdf8;
    transform: translateY(1px) translateX(1px);
}

.hero-left .button {
    margin-top: 8px;
}
/* end hero section styles */

/* info section styles */
.info-title {
    font-size: 36px;
    font-weight: 800; /* extra bold */
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 120px;
}

.info-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 160px;
    gap: 8px;
}

.info-img {
    border-radius: 10px;
    border: 4px solid #c0e9ff;
    width: 160px;
    height: 160px;
}
/* end info section styles */

/* quote section styles */
.quote {
    background-color: #d5dadd;
    color: #1F2937;
    padding: 140px 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote-src {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}
/* end quote section styles */

/* call to action section styles */
.cta {
    display: flex;
    background-color: #c0e9ff;
    color: black;
    border: 4px dashed #d5dadd;
    margin: 120px 240px;
    padding: 40px 80px;
    border-radius: 10px;
    justify-content: space-between;
    gap: 80px;
}

.cta .button {
    border: 2px solid white;
    align-self: center;
    padding: 8px 48px;
    font-size: 18px;
}

.cta-title {
    font-weight: bold;
    font-size: 20px;
}

.cta-text {
    font-weight: 100;
}
/* end call to action section styles */

/* footer section */
.footer {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    font-size: 12px;
    text-align: center;
}

.footer-img {
    width: 64px;
    height: auto;
    padding-top: 8px;
}
/* end footer section */